@charset "UTF-8";
@font-face {
	font-family: drift;
	src: url(fonts/oceanicdrift.ttf);
}
@font-face {
	font-family: drift-italic;
	src: url(fonts/oceanicdriftital.ttf);
}

body {
	font-family: drift;
	background-image: url('images/background.jpg');
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
}
body, html {
  height: 100%;
  color: #fff;
}
.formi {
	font-family: Arial !important;
}
.table {
	font-family: Arial !important;
}

.logo {
	font-family: drift-italic;
	font-size: 5em;
}

.logo-link {
	text-decoration: none;
	color: #fff;
}

.logo-link:hover, .logo-link:focus, .logo-link:after {
	text-decoration: none;
	color: #fff;
}

.map-table {
	font-size: 2em;
}

.map-table a {
	text-decoration: none;
	color: #fff;
}

.map-table a:hover, .map-table a:focus {
	text-decoration: none;
	color: red;
}

/*
*
* Background image
*
*/
.parallax {
  /* The image used */
  background-image: url("images/background.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/**
*
* Navbar
*
*/
.navbar {
    transition: all 0.4s;
    font-size: 1.5em;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: red;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}